REDIS_URL=
CACHE_REDIS_URL=
MAGIC_STRING=
MASTER_KEY=
STREAM_SECRET=
WORKER_URLS=
WORKER_SECRET=
CONTENT_WORKER_URL=
CONTENT_WORKER_SECRET=
DOWNLOAD_WORKER_URL=
DOWNLOAD_WORKER_SECRET=
WORKER_PAYLOAD_XOR_KEY=
APP_URL=
CLOUDCONVERT_API_KEY=
CONVERTIO_API_KEY=
TOOLS_DIR=./tools
CLOUDCONVERT_API_KEY=
CONVERTIO_API_KEY=
DATA_DIR=./data

CDN_API_KEY=
CDN_FOLDER_ID=

ADMIN_SESSION_TTL=8h
ALLOWED_ORIGINS=
STATS_DB_DSN=
LEAKCHECK_DB_DSN=