# environment - JANGAN PERNAH PUSH
.env
.env.local
.env.production

# binary tools
tools/

# test files
test/

# Database files
data/

# build output
vidbot-site-api
vidbot-site-api.exe

# air (live reload) temp files
tmp/

# Go
vendor/

# leakcheck
internal/services/leakcheck/
pkg/leakcheck/
router/leakcheck.go

generate_masterkey.py
ecnrypt_worker.py
test.http
prepare-commit-msg
vidbot-api
deploy.sh

# Markdown files
TO-DO.md